* {
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

#projectArea {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    color: #E7E7E6;
    gap: 1rem;
}

#projectArea div {
    margin-left: 10px;
}

#projectArea #title {
    font-size: 3rem;
}

#projectArea #projectTitle {
    font-size: 1.5rem;
}

#projectArea input[type=text] {
    background-color: #2a2a2a;
    border: none;
    color: #E7E7E6;
    font-size: 1rem;
    width: 50%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline-color: #6693A8;
}

#projectArea button {
    font-size: 1rem;
    color: #E7E7E6;
    background-color: #2a2a2a;
    border: none;
}

#projectSpace {
    display: grid;
    max-width: 100%;
    gap: 1.5rem;
    margin-left: 20px;
}

#projectSpace div {
    display: grid;
    grid-template-columns: 5fr 1fr;
    max-width: 90%;
    align-self: center;
    font-size: 1.1rem;
    cursor: pointer;
}

#projectSpace .selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E7E7E6;
    padding: .5rem 1rem;
    background-color: #6693A8;
    border-radius: 5px;
    max-width: 60%;
}

#projectSpace .selected .material-icons{
    color: #E7E7E6;
    font-size: 1rem;
    font-weight: bold;
}

#projectSpace .material-icons {
    color: #2a2a2a;
}

#taskArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #E7E7E6;
    gap: 1rem;
}

#taskHeader {
    margin-left: 20px;
    align-self: flex-start;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    color: #E7E7E6;
}

#question {
    color: lightslategray;
}

#taskHeaderLeft {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

#taskArea form {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    gap: 1rem;
    padding: 1rem;
    min-width: 200px;
}

#taskArea input[type=text] {
    width: 90%;
    margin-left: 15px;
    height: 1.5rem;
    border: none;
}

#taskArea #hiddenForm {
    width: 90%;
}

#taskArea .hidden {
    display: none;
}

#taskArea #hiddenForm #priority {
    display: flex;
    gap: 1rem;
}

#taskSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#taskSpace div {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2a2a2a;
    font-size: 1.5rem;
    border-radius: 5px;
    min-width: 200px;
    height: 100px;
}

#taskSpace div .nameContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}

#taskSpace div .material-icons {
    font-size: 2rem;
    cursor: pointer;
}

#taskSpace div input[type=text]{
    background-color: #2a2a2a;
    border: none;
    color: #E7E7E6;
    font-size: 1rem;
}


#taskSpace div input[type=date]{
    background-color: #2a2a2a;
    border: none;
    color: #E7E7E6;
    color-scheme: dark;
    font-size: .8rem;
    width: 65%;
    margin-left: 13px;
}

#taskSpace div .taskDesc {
    width: 200px;
}

#taskSpace div .taskPrio {
    justify-content: flex-end;
}

button {
    background-color: #6693A8;
    padding: 15px 32px;
}

