* {
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

#projectArea {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    color: #E7E7E6;
    gap: 1rem;
}

#projectArea #title {
    font-size: 3rem;
}

#projectArea #projectTitle {
    font-size: 1.5rem;
}

#projectArea input[type=text] {
    background-color: #2a2a2a;
    border: none;
    color: #E7E7E6;
    font-size: 1rem;
    width: 50%;
}

#projectArea button {
    font-size: 1rem;
    color: #E7E7E6;
    background-color: #2a2a2a;
    border: none;
}

#projectSpace {
    display: grid;
    max-width: 100%;
    gap: 1rem;
    margin-left: 20px;
}

#projectSpace div {
    display: grid;
    grid-template-columns: 5fr 1fr;
    max-width: 90%;
    align-self: center;
    font-size: 1rem;
    cursor: pointer;
}

#projectSpace .selected{
    color: #E7E7E6;
    padding: .5rem 1rem;
    background-color: #6693A8;
    border-radius: 5px;
    max-width: 70%;
}

#projectSpace .selected .delProject{
    color: #E7E7E6;
}

#projectSpace .delProject {
    color: #2a2a2a;
    font-weight: bold;
    padding: 0;
}

#taskArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #E7E7E6;
    gap: 1rem;
}

#taskArea form {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 50%;
    padding: 1rem;
    gap: 1rem;
}

#taskSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#taskSpace div {
    padding: 1rem 2rem;
    background-color: #6693A8;
    font-size: 2rem;
    border-radius: 5px;
}

#taskSpace div .taskCheck {
    background-color: orange;
}

button {
    background-color: #6693A8;
    padding: 15px 32px;
}

input[type=text] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline-color: #6693A8;
}

